* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
  text-transform: capitalize;
}

.content {
  padding: 1rem;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.LoadMoreBtn,
.close {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  
}
.LoadMoreBtn,
.close:hover{
    cursor: pointer;
}

.progress-bar.green {
  background: linear-gradient(to left, #00ff00, #ffff00);
}

.progress-bar.yellow {
  background: linear-gradient(to left, #ffff00, #ff0000);
}

.progress-bar.red {
  background: #ff0000;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pokemon {
  margin: 0.5rem;
  padding: 1rem;
  background-color: #14a06f;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.pokemon .number {
  color: #000;
  opacity: 0.3;
  text-align: right;
}

.pokemon .name {
  color: #fff;
  margin-bottom: 0.25rem;
}

.pokemon .detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon .detail .types {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detail .types .type {
  color: #fff;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}
.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}

.normal {
  background-color: #a6a877;
}

.grass {
  background-color: #77c850;
}

.fire {
  background-color: #ee7f30;
}

.water {
  background-color: #678fee;
}

.electric {
  background-color: #f7cf2e;
}

.ice {
  background-color: #98d5d7;
}

.ground {
  background-color: #dfbf69;
}

.flying {
  background-color: #a98ff0;
}

.poison {
  background-color: #a040a0;
}

.fighting {
  background-color: #bf3029;
}

.psychic {
  background-color: #f65687;
}

.dark {
  background-color: #725847;
}

.rock {
  background-color: #b8a137;
}

.bug {
  background-color: #a8b720;
}

.ghost {
  background-color: #6e5896;
}

.steel {
  background-color: #b9b7cf;
}

.dragon {
  background-color: #6f38f6;
}

.fairy {
  background-color: #f9aec7;
}

@media screen and (min-width: 380px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.progress {
  width: 50%;
  height: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
  height: 100%;

  /* Cor da barra de progresso */
}
#stats-list {
  list-style: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999; /* Defina um valor alto para garantir que o modal esteja na frente do conteúdo */
}

.modal-content {
  text-align: center;
  background-color: #dcdee1;
  min-width: 350px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 92%; /* Ajuste a largura máxima conforme necessário */
}
.modalPhoto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


.modalPhoto img {
  max-width: 270px;
  max-height: 280px;
  text-align: center;
}
.modalInfo p {
 text-align: left;
  margin: 0;
  padding: 1px;
}
#stats-list {
    text-align: left;
}
